<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">  
    <h1>Evidencija prehrane</h1>
</head>

<body>
    <div class="container">
        <div class="login">
            <button><a href="/register">Registriraj se</a></button>
            <button><a href="/login">Log In</a></button>
            <button><a href="/logout">Log Out</a></button>
            {% if user.is_authenticated %}
                <p>Vaše ime: {{ user.username }}</p>
            {% else %}
                <p>Niste prijavljeni.</p>
            {% endif %}
        </div>
    </div>
    <header>    
        <div class="navbar ">
        {% block navbar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/korisniks">Korisnik</a></li>
            <li><a href="/hranas">Hrana</a></li>
            <li><a href="/deserts">Desert</a></li>
            <li><a href="/evidencijas">Evidencija</a></li>
            {% comment %} <li><a href="/updatekorisnik">Updated</a></li> {% endcomment %}
        </ul>
        {% endblock %}
    </div>
</header>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>